// Sass Variables
$font-stack: "proxima-nova", sans-serif;
$font-headings:  "wayfinding-sans-condensed",sans-serif;
$darkest-grey: #444444; //h3
$dark-grey: #6f6f6f; //headers, etc..
$grey: #a3a3a3;
$light-grey: #eaeaea;
$white: #fbfbfb;
$body-color: #292929;
$gold: #e2aa33;

.white{
	color: $white;
}

// Start CSS
body {
	font-family: $font-stack;
	font-size: 16px;
	font-weight: 300;
	color: $dark-grey;
	height: 100%;
	margin: auto;
	text-align: center;
	min-width: 900px;
}

.container{
	margin: auto;
	max-width: 960px;
	display: block;
}


/* Navigation */
header{
	position: fixed;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $white;
	opacity: 0.95;
	box-shadow: 0 1px 1px 0 $light-grey;
}

#logo-text{
	font-size: 32px;
	color: $darkest-grey;
	font-family: $font-stack;
	font-style: normal;
	text-transform: uppercase;
	display: inline;
	float: left;
}

li{
	font-family: $font-stack;
	text-transform: uppercase;
	font-size: 14px;
	color: $dark-grey;
	padding: 10px 0 0 30px;
	display: inline;
	float: right;
}

/* HERO */

#hero-unit{
	background: url("img/color-splash.jpg") no-repeat;
	min-height: 550px;
	margin: 0 auto;
	background-attachment: fixed;
}

#hero-text{
	padding-top: 200px;
	color: $white;
	width: 700px;
	margin: 0 auto;
	h1{
		font-size: 80px;
	}
	p{
		font-size: 30px;
	}
}

.hero-left img{
	width: 150px;
	float: left;
	display: inline;
}

.hero-right{
	float: left;
	display: inline;
	padding: 0 0 0 20px;
}
/* About Me */
#contact{
	padding-top: 50px;
}

.about-text{
	font-size: 22px;
	margin-bottom: 50px;
}

.project-icon{
	height: 100px;
}

p img{
	height: 80px;
}


/* LATEST PROJECTS */

.light-unit{
	padding: 20px 0;
}

#projects{
	margin-left: -10px;
	margin: auto;
	padding-top: 50px;
}
.project{
	display: inline-block;
	width: 33%;
	height: 360px;
	margin: 0 auto;
	// text-align: left;
}

.project img{
	width: 300px;
	height: 240px;
	border: 2px solid #eee;
}

.project-text{
	margin: 1px;
	width: 300px;
}

.project-container{
	padding: 40px 0 10px 0;
}

/* Technology */
.tech-text{
	font-size: 22px;
	line-height: 1em;
}

#tech-unit{
	background: url("img/galaxy.jpg") no-repeat;
	min-height: 200px;
	background-attachment: fixed;
}

#tech-blurb{
	color: $white;
	padding: 80px 0;
}

.about{
	display: inline-block;
	width: 33%;
	margin-bottom: 40px;
	// text-align: left;
	vertical-align: top;
}

/* Connect */
.connect a{
	display: inline-block;
}
.connect img{
	width: 32px;
	height: 32px;
}

.connect img:hover{
	opacity: 0.8;
}

/* h1, h2, h3, h4, h5, p, a */

h1{
	font-size: 80px;
}

h2{
	font-size: 28px;
	font-family: $font-headings;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: $darkest-grey;
}


h3{
	font-size: 26px;
	color: $darkest-grey;
	margin: 10px 0;
}

h4{
	font-size: 14px;
}

p{
	font-size: 14px;
	line-height: 1.5em;
}

a{
	text-decoration: none;
	color: $dark-grey;
	font-weight: 400;
}


/* Footer */

footer{
	background-color: #353535;
	max-width: 100%;
	padding: 40px 0;
	border: 5px solid $grey;
}

footer h4{
	font-weight: 600;
	color: $grey;
	opacity: 0.3;
}



